:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --special-text-color: #2196f3;
  --bg-color: #ffffff;
  --grey-color: #f5f4fa;
  --footer-color: rgba(255, 255, 255, 0.6);
  --logo-color: #000000;
  --bg-footer-color: #2f303a;
  --hover-color: rgba(33, 150, 243, 0.9);
  --hover-time: cubic-bezier(0.4, 0, 0.2, 1);
}

/* основной цвет заглавного текста текста #212121 */
/* основной текст #757575*/
/* Цвет лого, кнопки, ссылки #2196F3 */
/* Белый цвет #FFFFFF */
/*Белый цвет 60% прозрачноснти rgba(255, 255, 255, 0.6) */
/* Вторичный цвет фона #F5F4FA  */
body {
  background-color: var(--bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

span {
  color: var(--special-text-color);
}

/* Хедер */

.header .container {
  display: flex;
}

.line {
  border-bottom: 1px solid #ececec;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--logo-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  margin-right: 93px;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms var(--hover-time);
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--special-text-color);
  border-radius: 2px;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--special-text-color);
  transition: color 250ms var(--hover-time);
}

.nav-link.current {
  position: relative;
  color: var(--special-text-color);
  transition: color 250ms var(--hover-time);
}

/* Контакты */

.contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: center;
}

.contacts-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-list {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms var(--hover-time);
}

.contacts-list:focus,
.contacts-list:hover {
  color: var(--special-text-color);
  transition: color 250ms var(--hover-time);
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

/* Герой */

.hero {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg-img/Img.jpg);
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
}

.color-hero {
  background-color: var(--bg-footer-color);
  padding: 200px 0;
}

.hero-title {
  width: 696px;
  margin: auto;
  margin-bottom: 30px;
  color: var(--bg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  background-color: var(--special-text-color);
  color: var(--bg-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border-radius: 4px;
  border-width: 0;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 32px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1);
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--hover-time), transform 250ms var(--hover-time);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 528px;
  min-height: 581px;
  background-color: var(--bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-btn {
  display: inline-flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: var(--logo-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--bg-color);
  cursor: pointer;
  transition: color 250ms var(--hover-time);
}

.modal-btn:hover,
.modal-btn:focus {
  color: var(--special-text-color);
  transition: color 250ms var(--hover-time);
}

.modal-icon {
  fill: currentColor;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms var(--hover-time), transform 250ms var(--hover-time);
}

/* Наши приемущества */

.feature {
  padding-top: 94px;
}

.section-subject {
  width: calc((100%-90px) / 4);
}

.section-subject:not(:last-child) {
  margin-right: 30px;
}

.section-subject::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
  border-radius: 4px;
}

.section-subtitle {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 0;
}

.section-text {
  font-size: 14px;
  line-height: 1.7;
  margin-top: 0;
  margin-bottom: 0;
}

.antena::before {
  background-image: url(../images/icon-svg/antenna.svg);
}

.clock::before {
  background-image: url(../images/icon-svg/clock.svg);
}

.diagram::before {
  background-image: url(../images/icon-svg/diagram.svg);
}

.astronaut::before {
  background-image: url(../images/icon-svg/astronaut.svg);
}

/* Чем мы занимаемся */

.work-job {
  padding-top: 94px;
  padding-bottom: 85px;
}

.section-work {
  width: calc((100%-60px) / 3);
}

.section-work:not(:last-child) {
  margin-right: 30px;
}

.section-img {
  display: block;
}

.section-work {
  position: relative;
}

.work-text {
  left: 0;
  bottom: 0;
  position: absolute;
  width: 370px;
  height: 70px;
  text-align: center;
  padding: 27px 0;
  margin: 0;
  font-style: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--bg-color);
}

/* Оur team */

.bg-team {
  background-color: var(--grey-color);
  padding: 94px 0;
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  margin-top: 0;
}

.section-items {
  display: flex;
}

.section-desc {
  width: calc((100%-90px) / 4);
  background-color: var(--bg-color);
}

.section-desc:not(:last-child) {
  margin-right: 30px;
}

.section-link {
  display: block;
}

.box {
  padding: 30px 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.section-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  margin: 0;
}

.section-position {
  font-size: 16px;
  line-height: 1.9;
  margin-bottom: 0;
  text-align: center;
  margin-top: 10px;
}

.team-items {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.team-list:not(:last-child) {
  margin-right: 10px;
}

.team-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: rgba(175, 177, 184, 1);
  transition: color 250ms var(--hover-time),
    background-color 250ms var(--hover-time);
}

.team-link:hover,
.team-link:focus {
  background-color: var(--special-text-color);
  color: var(--bg-color);
  transition: color 250ms var(--hover-time),
    background-color 250ms var(--hover-time);
}

.team-icon {
  fill: currentColor;
  transition: fill 250ms var(--hover-time);
}

/* Наши клиенты */

.clients {
  padding: 94px 0;
}

.section-clients {
  display: flex;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms var(--hover-time);
}

.clients-icon {
  fill: currentColor;
}

.clients-link:hover {
  color: var(--special-text-color);
  border: 1px solid var(--special-text-color);
  transition: color 250ms var(--hover-time);
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

/* Оформление Футера */

.bg-color {
  background-color: var(--bg-footer-color);
  padding: 60px 0;
}

.bg-color .container {
  display: flex;
  align-items: baseline;
}

.logo-footer {
  color: var(--bg-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.address {
  display: flex;
  margin-top: 20px;
}

.address-link {
  color: var(--bg-color);
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  font-style: normal;
  margin-top: 20px;
  transition: color 250ms var(--hover-time);
}

.address-link:hover,
.address-link:focus {
  color: var(--special-text-color);
  transition: color 250ms var(--hover-time);
}

.address-desc {
  margin-top: 9px;
}

.address-contact {
  color: var(--footer-color);
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  font-style: normal;
  transition: color 250ms var(--hover-time);
}

.address-contact:hover,
.address-contact:focus {
  color: var(--special-text-color);
  transition: color 250ms var(--hover-time);
}

.socials-wrapper {
  margin-left: 70px;
}

.socials-subtitle {
  color: var(--bg-color);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  font-style: normal;
  text-transform: uppercase;
  margin: 0;
}

.socials {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
}

.socials-items:not(:last-child) {
  margin-right: 10px;
}

.footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--hover-time);
}

.footer-link:hover,
.footer-link:focus {
  background-color: var(--special-text-color);
  transition: background-color 250ms var(--hover-time);
}

.footer-icon {
  fill: var(--bg-color);
}

/* Стили для portfolio.html */
/* Кнопки-Фильтр */

.second {
  padding-top: 94px;
  padding-bottom: 94px;
}

.work-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters:not(:last-child) {
  margin-right: 8px;
}

.work-button {
  background-color: var(--grey-color);
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  border-width: 0;
  padding: 6px 22px;
  transition: background-color 250ms var(--hover-time),
    color 250ms var(--hover-time);
}

.work-button:focus,
.work-button:hover {
  background-color: var(--special-text-color);
  color: var(--bg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: background-color 250ms var(--hover-time),
    color 250ms var(--hover-time);
}

/* Страница с работами */

.items {
  display: flex;
  flex-wrap: wrap;
}

.items-desc {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.items-desc:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.items-desc:nth-child(3n) {
  margin-right: 0;
}

.items-links {
  display: block;
  text-decoration: none;
}

.items-links:hover .overlay-box,
.items-links:focus .overlay-box {
  transform: translateY(0);
  transform: scale(1);
  opacity: 1;
  transition: transform 250ms var(--hover-time), opacity 250ms var(--hover-time);
}

.items-links:hover,
.items-links:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.items-img {
  display: block;
}

.overlay {
  overflow: hidden;
  position: relative;
}

.overlay-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--bg-color);
  background-color: var(--hover-color);
  transform: scale(0);

  transform: translateY(100%);

  transition: transform 250ms var(--hover-time), opacity 250ms var(--hover-time);
  opacity: 0;
}

.overlay-text {
  font-family: inherit;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 63px 24px;
  /* opacity: 0; */
}

.items-elements {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.items-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0;
}

.items-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
  margin-top: 4px;
  margin-bottom: 0;
}
